* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; /* Updated stack *
    line-height: 1.6;      /* Improve readability */
    margin: 20px 40px;         /* Add some margin around the content */
    background-color: #f4f4f4; /* Light gray background */
    color: #333;          /* Dark gray text */
}

h1, h2, h3 {
    color: #0056b3;     /* Darker blue for headings */
}

header {
    text-align: center; /* Center the header content */
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px; /* Add space between sections */
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Add a border to project boxes */
    padding: 20px;
    background-color: #fff; /* White background for project boxes */
}

a {
    color: #007bff;     /* Blue links */
    text-decoration: none; /* Remove underlines by default */
}

a:hover {
    text-decoration: underline; /* Add underlines on hover */
}

ul {
    list-style: none; /* Remove default bullets */
    padding-left: 1em;  /* Remove default padding */
}

ul li::before {
    content: "\2022";  /* Add a bullet point (Unicode character) */
    color: #007bff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0;
}
footer {
text-align: center;
}
.contact-form-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    max-width: 100%;
    overflow-x: hidden;
}

.contact-form-container iframe {
    max-width: 100%;
    width: 640px;
}

@media (max-width: 680px) {
    .contact-form-container iframe {
        width: 100%;
    }
}

.project-screenshot {
    width: 100%; /* Makes the image take the full width of its container */
    max-width: 700px; /* Prevents the image from becoming too large on wide screens */
    border-radius: 8px; /* Adds slightly rounded corners */
    border: 1px solid #e0e0e0; /* Adds a subtle border */
    margin-top: 20px; /* Adds space above the image */
    margin-bottom: 20px; /* Adds space below the image */
    display: block; /* Ensures the margins work correctly */
    margin-left: auto; /* Centers the image */
    margin-right: auto; /* Centers the image */
}